body {
	/*background: #000 url('../img/bg.jpg') no-repeat center center fixed;*/
	background: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*color:#fff;*/
	overflow-x: hidden;
	overflow-y: hidden;
	min-width: 400px;
	font-family: Microsoft YaHei;
}

tbody tr th {
	text-align: center;
}

.icon {
	width: auto;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0;
	padding-right: 10px;
	padding-bottom: 5px;
	cursor:pointer;
}

.photoBox {
	width: 80px;
	height: 80px;
	padding: 5px;
}

.photo {
	width: 70px;
	height: 70px;
}

.chats >div {
	padding: 5px;
}
.chatWith {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Microsoft YaHei;
	background: #fff;
	margin-top: 10px;
}
.chatWith hr{
	margin-top:0;
	margin-bottom: 0;
	border-top-color: #ccc;
}

.header {
	width: 100%;
	height: 60%;
	padding: 5px;
}

.output {
	width: 100%;
	height: 60%;
	padding-bottom:10px;
	position: relative;
	transition: all 0.5s;
	overflow-x:hidden;
	overflow-y:auto;
	height: 256px;
}
.output::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	background-color: #fff;
}

.output::-webkit-scrollbar
{
	width: 4px;
	background-color: #555;
}

.output::-webkit-scrollbar-thumb
{
	background-color: #aaa;
}

.options {
	width: 100%;
	height: 6%;
	position: relative;
}
.smallOffset {
	margin-right:10px;
}
.input {
	width: 100%;
	height: 34%;
	position: relative;
}
.input textarea {
	display: block;
	width: 100%;
	padding: 5px;
	height: 68px;
	line-height: 20px;
	border: none;
	overflow: auto;
	resize: none;
	background: 0 0;
}
textarea.form-control {
	height: 100%;
	font-family:18px;
}

.option {
	/*width: auto;*/
	width: 35px;
	height: 100%;
}
.singleMessage {
	position: relative;
	width: 100%;
	height: auto;
	padding-top:15px;
	margin-left:0;
	margin-right:0;
	transition: all 0.3s;
}
.iconsLeft{
	margin: 0 auto;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
}
.iconsRight {
	margin: 0 auto;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
}

.iconssLeft,.iconssRight{
	width: 40px;
	height: 40px;

}
.iconssLeft {
	float: right;
}
.iconssRight {
	float: left;
}
.timePositionLeft {
	padding-left: 0;
}
.timePositionRight {
	padding-right: 0;
}

.timeLeft {
	float: left;
	font-size: 8px;
	padding-left: 0;
}
.timeRight {
	float: right;
	font-size: 8px;
	padding-right:0;
}
.arrowBoxLeft {
	float: left;
	width:auto;
	height: auto;
	position: relative;
	background: #eee;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
}
.arrowBoxRight {
	float: right;
	width:auto;
	height: auto;
	position: relative;
	background: #eee;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 5px;
}
.message {
	word-break: break-all;
}
.hidden {
	display:none;
}
.notice {
	width:100%;
	height:100%;
	font-family:Microsoft YaHei;
	font-size: 18px;
	overflow-x: hidden;
	overflow-y:hidden;
	cursor: pointer;"
}
.noticePosition {
	padding-top: 5px;
}
